<body>
    <main>
        <section class="section-rotate ">
            <div class="section-inner bg-gradient-primary"></div>
            <!--Illustation -->
            <div class="pt-5 pb-lg pl-lg position-absolute middle right-0 col-lg-7 col-xl-7 d-none d-lg-block">
                <%= image_tag "2cv.png", alt: "logo", class: "img-fluid", style: "height:350px" %>
            </div>
            <!-- SVG shapes background -->
            <div class="bg-absolute-cover bg-size--contain d-flex align-items-center">
                <figure class="w-100">
                    <svg preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 1506.3 578.7" xmlns="http://www.w3.org/2000/svg">
                        <path class="shape-fill-purple" d="M 147.269 295.566 C 147.914 293.9 149.399 292.705 151.164 292.431 L 167.694 289.863 C 169.459 289.588 171.236 290.277 172.356 291.668 L 182.845 304.699 C 183.965 306.091 184.258 307.974 183.613 309.64 L 177.572 325.239 C 176.927 326.905 175.442 328.1 173.677 328.375 L 157.147 330.943 C 155.382 331.217 153.605 330.529 152.485 329.137 L 141.996 316.106 C 140.876 314.714 140.583 312.831 141.228 311.165 L 147.269 295.566 Z"
                        />
                        <path class="shape-fill-red" d="M 92.927 474.881 C 93.309 473.896 94.187 473.19 95.23 473.028 L 105.002 471.51 C 106.045 471.347 107.096 471.754 107.758 472.577 L 113.959 480.28 C 114.621 481.103 114.794 482.216 114.413 483.201 L 110.841 492.423 C 110.46 493.408 109.582 494.114 108.539 494.277 L 98.767 495.795 C 97.723 495.957 96.673 495.55 96.011 494.727 L 89.81 487.024 C 89.148 486.201 88.975 485.088 89.356 484.103 L 92.927 474.881 Z"
                        />
                        <path class="shape-fill-orange" d="M 34.176 36.897 C 34.821 35.231 36.306 34.036 38.071 33.762 L 54.601 31.194 C 56.366 30.919 58.143 31.608 59.263 32.999 L 69.752 46.03 C 70.872 47.422 71.165 49.305 70.52 50.971 L 64.479 66.57 C 63.834 68.236 62.349 69.431 60.584 69.706 L 44.054 72.274 C 42.289 72.548 40.512 71.86 39.392 70.468 L 28.903 57.437 C 27.783 56.045 27.49 54.162 28.135 52.496 L 34.176 36.897 Z"
                        />
                        <path class="shape-fill-purple" d="M 975.636 9.762 C 976.101 8.561 977.171 7.7 978.443 7.502 L 990.354 5.652 C 991.626 5.454 992.907 5.95 993.714 6.953 L 1001.272 16.343 C 1002.079 17.346 1002.29 18.703 1001.826 19.903 L 997.472 31.144 C 997.008 32.344 995.938 33.205 994.666 33.403 L 982.754 35.254 C 981.483 35.451 980.202 34.956 979.395 33.953 L 971.837 24.563 C 971.03 23.559 970.818 22.203 971.283 21.002 L 975.636 9.762 Z"
                        />
                        <path class="shape-fill-red" d="M 1417.759 409.863 C 1418.404 408.197 1419.889 407.002 1421.654 406.728 L 1438.184 404.16 C 1439.949 403.885 1441.726 404.574 1442.846 405.965 L 1453.335 418.996 C 1454.455 420.388 1454.748 422.271 1454.103 423.937 L 1448.062 439.536 C 1447.417 441.202 1445.932 442.397 1444.167 442.672 L 1427.637 445.24 C 1425.872 445.514 1424.095 444.826 1422.975 443.434 L 1412.486 430.403 C 1411.366 429.011 1411.073 427.128 1411.718 425.462 L 1417.759 409.863 Z"
                        />
                        <path class="shape-fill-orange" d="M 1313.903 202.809 C 1314.266 201.873 1315.1 201.201 1316.092 201.047 L 1325.381 199.604 C 1326.373 199.449 1327.372 199.837 1328.001 200.618 L 1333.895 207.941 C 1334.525 208.723 1334.689 209.782 1334.327 210.718 L 1330.932 219.484 C 1330.57 220.42 1329.735 221.092 1328.743 221.246 L 1319.454 222.689 C 1318.462 222.843 1317.464 222.457 1316.834 221.674 L 1310.94 214.351 C 1310.31 213.569 1310.146 212.511 1310.508 211.575 L 1313.903 202.809 Z"
                        />
                        <path class="shape-fill-orange" d="M 1084.395 506.137 C 1084.908 504.812 1086.09 503.861 1087.494 503.643 L 1100.645 501.6 C 1102.049 501.381 1103.463 501.929 1104.354 503.036 L 1112.699 513.403 C 1113.59 514.51 1113.823 516.009 1113.31 517.334 L 1108.504 529.744 C 1107.99 531.07 1106.809 532.02 1105.405 532.239 L 1092.254 534.282 C 1090.85 534.5 1089.436 533.953 1088.545 532.845 L 1080.2 522.478 C 1079.309 521.371 1079.076 519.873 1079.589 518.547 L 1084.395 506.137 Z"
                        />
                    </svg>
                </figure>
            </div>
            <!-- Hero container -->
            <div class="container pt-lg pb-xl-md position-relative zindex-100">
                <div class="row">
                    <div class="col-lg-5 text-center text-lg-left">
                        <div class="">
                            <h2 class="text-white my-4">
					                    <span class="display-4 font-weight-light">2cv Expérience.</span>
					                    <span class="d-block"><strong class="font-weight-light">Events Car</strong></span>
	                					</h2>
                            <p class="lead text-white">Depuis 2000 Events Car s'est spécialisée dans le tourisme d'affaire avec comme activité pricipale le prêt d'une flotte de 30 2cv comprenant la logistique de livraison et de reprise, l’encadrement technique et l’assistance.</p>
                            <div class="mt-5">
                                <a href="#sct_features" class="btn btn-outline-white btn-circle btn-translate--hover btn-icon d-none d-xl-inline-block scroll-me">
                                    <span class="btn-inner--icon"><i class="fas fa-file-alt"></i></span>
                                    <span class="btn-inner--text">Télécharger notre brochure</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="slice slice-lg pb--5">
            <div class="container">
                <div class="mb-md text-center">
                    <h3 class="heading h2">La passion au service du professionnalisme.</h3>
                    <div class="fluid-paragraph mt-3">
                        <p class="lead">Créateur de concept autour d'une des voitures française les plus mythique, Events Car repose sur trois pilliers.</p>
                    </div>
                </div>
                <div class="row row-grid">
                    <div class="col-lg-4">
                        <div class="px-4 text-center">
                            <div class="mb-4 ">
                                <div class="icon icon-lg icon-shape box-shadow-3 rounded-circle bg-primary text-white ">
                                    <i class="fas fa-paint-brush "></i>
                                </div>
                            </div>
                            <h5 class="heading h5 mb-3">Un parc monochrome</h5>
                            <p>Depuis l’an 2000, les 2cv à dominantes de couleurs jaunes sillonnent les routes du Pays Basque et du Sud de la France. <br> A vous de trouver la destination suivante !</p>
                            <a href="#" class="btn btn-sm btn-outline-primary btn-circle mt-3">Toutes les voir</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="px-4 text-center">
                            <div class="mb-4">
                                <div class="icon icon-lg icon-shape box-shadow-3 rounded-circle bg-orange text-white">
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div>
                            <h5 class="heading h5 mb-3">19 années d'expérience</h5>
                            <p>Événements, locations, balades, rallyes et autres prestations nous permettent aujourd'hui de vous proposer un produit de qualité inoubliable pour votre clientèle.</p>
                            <a href="#" class="btn btn-sm btn-outline-primary btn-circle mt-3">Impensable</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="px-4 text-center">
                            <div class="mb-4">
                                <div class="icon icon-lg icon-shape box-shadow-3 rounded-circle bg-red text-white">
                                    <i class="fas fa-tint"></i>
                                </div>
                            </div>
                            <h5 class="heading h5 mb-3">Des partenariats locaux</h5>
                            <p>Nous savons que le charme du Pays-Basque provient avant tout de la richesse de sa culture, c'est pourquoi nous mettons en avant les entrepreneurs locaux.</p>
                            <a href="#" class="btn btn-sm btn-outline-primary btn-circle mt-3">Ça m'intéresse</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="slice slice-lg bg-secondary" style="padding-bottom: 200px;">
            <div class="container">

				        <div class="shape-container" data-shape-style="wavify" data-shape-position="top" data-shape-orientation="inverse">
				            <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="shape-fill-white" data-toggle="wavify">
				                <defs></defs>
				                <path d="" class="shape-fill-white" />
				            </svg>
				        </div>

                <div class="row justify-content-center pt-5">
                    <div class="col-lg-6">
                        <div class="mb-md text-center">
                            <h3 class="h1 text-primary font-weight-400 lh-150 my-4">Notre offre en quelques lignes</h3>
                            <p class="lead">Start building fast, beautiful and modern looking websites in no time using our theme.</p>
                        </div>
                    </div>
                </div>
                <div class="row row-grid">
                    <div class="col-lg-4">
                        <div class="card shadow">
                            <div class="card-body py-5 px-lg-5">
                                <div>
                                    <div class="icon text-primary mb-3">
                                        <img alt="Image placeholder" src="../assets/img/icons/dusk/png/desktop-download.png" class="img-fluid">
                                    </div>
                                    <h5 class="heading h5">Download Purpose</h5>
                                    <p>Some quick example text to build on the card title and make up the content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow">
                            <div class="card-body py-5 px-lg-5">
                                <div>
                                    <div class="icon text-primary mb-3">
                                        <img alt="Image placeholder" src="../assets/img/icons/dusk/png/paint-palette.png" class="img-fluid">
                                    </div>
                                    <h5 class="heading h5">Change appearance</h5>
                                    <p>Some quick example text to build on the card title and make up the content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow">
                            <div class="card-body py-5 px-lg-5">
                                <div>
                                    <div class="icon text-primary mb-3">
                                        <img alt="Image placeholder" src="../assets/img/icons/dusk/png/add-property.png" class="img-fluid">
                                    </div>
                                    <h5 class="heading h5">Build your website</h5>
                                    <p>Some quick example text to build on the card title and make up the content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-container" data-shape-style="curve" data-shape-position="bottom">
                <svg class="shape-fill-white" fill="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                    <path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z"></path>
                </svg>
            </div>
        </section>

        <section class="slice slice-lg pt-5 delimiter-bottom">
            <div class="container">
                <div class="mb-md text-center">
                    <h3 class="heading h3">Notre mot d'ordre</h3>
                    <div class="fluid-paragraph fluid-paragraph-sm text-center mt-4">
                        <p class="lead lh-180">You get all Bootstrap components fully customized. Besides, you receive another 5 plugins out of the box and ready to use.</p>
                    </div>
                </div>

                <div class="row row-grid align-items-center justify-content-around">
                    <div class="col-lg-5 order-lg-2">
                        <div class="pr-md-4">
                            <span class="badge badge-lg badge-primary opacity-8 text-uppercase ls-1 font-weight-600 mb-3">Generating ideas</span>
                            <h3 class="heading h3">Change the way you build wesites. Forever.</h3>
                            <p class="lead my-4">With Purpose you get components and examples, including tons of variables that will help you customize this theme with ease.</p>
                            <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" target="_blank" class="btn btn-primary btn-circle btn-icon mt-4">
                                <span class="btn-inner--icon"><i class="fas fa-cart-plus"></i></span>
                                <span class="btn-inner--text">Purchase now</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="position-relative" style="z-index: 10;">
                            <img alt="Image placeholder" src="../assets/img/prv/app-3.png" class="img-center img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="slice">
            <div class="container">
            	   <div class="mb-md text-center">
                    <h3 class="heading h3">Nos références</h3>
                    <div class="fluid-paragraph fluid-paragraph-sm text-center mt-4">
                        <p class="lead lh-180">Depuis 1992, nous nous efforçons de bien faire notre travail.</p>
                    </div>
                </div>
                <div class="blurable--hover">
                    <a href="#">
                        <div class="row blurable-item">
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                                <div class="px-4 py-4">
                                    <img alt="Image placeholder" src="../assets/img/prv/partners/brand-1.png" class="img-fluid img-grayscale">
                                </div>

                            </div>
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                                <div class="px-4 py-4">
                                    <img alt="Image placeholder" src="../assets/img/prv/partners/brand-2.png" class="img-fluid img-grayscale">
                                </div>

                            </div>
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                                <div class="px-4 py-4">
                                    <img alt="Image placeholder" src="../assets/img/prv/partners/brand-3.png" class="img-fluid img-grayscale">
                                </div>

                            </div>
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                                <div class="px-4 py-4">
                                    <img alt="Image placeholder" src="../assets/img/prv/partners/brand-4.png" class="img-fluid img-grayscale">
                                </div>

                            </div>
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                                <div class="px-4 py-4">
                                    <img alt="Image placeholder" src="../assets/img/prv/partners/brand-5.png" class="img-fluid img-grayscale">
                                </div>

                            </div>
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                                <div class="px-4 py-4">
                                    <img alt="Image placeholder" src="../assets/img/prv/partners/brand-6.png" class="img-fluid img-grayscale">
                                </div>

                            </div>
                        </div>
                        <span class="blurable-hidden btn btn-sm btn-info btn-circle">See all customers</span>
                    </a>
                </div>

            </div>
        </section>

        <section class="slice slice-lg delimiter-top">
            <div class="container">
                <div class="mb-md text-center">
                    <h3 class="heading h2">Questions fréquentes</h3>
                    <div class="fluid-paragraph mt-3">
                        <p class="lead">Start building fast, beautiful and modern looking websites in no time using our theme.</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div id="accordion_1" data-accordion="1">
                            <div class="card mb-3">
                                <div class="card-header bg-secondary py-4 collapsed" id="heading_1_1" data-toggle="collapse" data-target="#collapse_1_1" aria-expanded="false" aria-controls="collapse_1_1">
                                    <h5 class="heading h5 font-weight-normal mb-0"><i class="fas fa-file-pdf mr-3"></i>Which license do I need?</h5>
                                </div>

                                <div id="collapse_1_1" class="collapse" aria-labelledby="heading_1_1" data-parent="#accordion_1">
                                    <div class="card-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                            3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-header bg-secondary py-4 collapsed" id="heading_1_2" data-toggle="collapse" data-target="#collapse_1_2" aria-expanded="false" aria-controls="collapse_1_2">
                                    <h5 class="heading h5 font-weight-normal mb-0"><i class="fab fa-safari mr-3"></i>How do I get access to a theme I purchased?</h5>
                                </div>

                                <div id="collapse_1_2" class="collapse" aria-labelledby="heading_1_2" data-parent="#accordion_1">
                                    <div class="card-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                            3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-header bg-secondary py-4 collapsed" id="heading_1_3" data-toggle="collapse" data-target="#collapse_1_3" aria-expanded="false" aria-controls="collapse_1_3">
                                    <h5 class="heading h5 font-weight-normal mb-0"><i class="fas fa-credit-card mr-3"></i>How do I attach previous orders to my account</h5>
                                </div>

                                <div id="collapse_1_3" class="collapse" aria-labelledby="heading_1_3" data-parent="#accordion_1">
                                    <div class="card-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                            3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Call to action -->

        <section class="slice slice-lg bg-primary">

            <span class="tongue tongue-top"><i class="fas fa-angle-up"></i></span>

            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-8 text-center">
                        <h3 class="font-weight-400 text-white">I am ready to start a new project with <span class="font-weight-700">Purpose</span> UI Kit.</h3>
                        <div class="mt-5">
                            <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" target="_blank" class="btn btn-secondary btn-circle btn-translate--hover px-4">Purchase now<span class="badge badge-pill badge-danger text-sm">$49 USD</span></a>
                            <a href="mailto:support@webpixels.io" class="btn btn-link text-white">Have an issue?</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>