<body>
    <main>

    	  <section class="slice pb-lg bg-secondary">
            <div class="container">
                <div class="row justify-content-center mt-lg">
                    <div class="col-lg-12 swiper-js-container">
                        <div class="mb-md text-center">
                            <h3 class="h1 text-uppercase mb-3" style="font-family: 'Oswald', sans-serif;">Confirmed line-up</h3>
                            <div class="fluid-paragraph text-center mt-4">
                                <p class="lead lh-180">You get all Bootstrap components fully customized. Besides, you receive another 5 plugins out of the box and ready to use.</p>
                            </div>
                        </div>
                        <div class="swiper-container" data-swiper-effect="coverflow" data-swiper-centered-slides="true" data-swiper-initial-slide="2" data-swiper-items="1" data-swiper-space-between="0" data-swiper-sm-items="3" data-swiper-sm-space-between="0">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="card border-0">
                                        <div class="text-white">
                                            <img alt="Image placeholder" class="img-fluid rounded" src="../assets/img/prv/team-1-800x800.jpg">
                                            <div class="card-img-overlay d-flex align-items-end">
                                                <div class="col text-center">
                                                    <h4 class="heading h4 text-uppercase text-white" style="font-family: 'Oswald', sans-serif;">Afrojack</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card border-0">
                                        <div class="text-white">
                                            <img alt="Image placeholder" class="img-fluid rounded" src="../assets/img/prv/team-2-800x800.jpg">
                                            <div class="card-img-overlay d-flex align-items-end">
                                                <div class="col text-center">
                                                    <h4 class="heading h4 text-uppercase text-white" style="font-family: 'Oswald', sans-serif;">Alesso</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card border-0">
                                        <div class="text-white">
                                            <img alt="Image placeholder" class="img-fluid rounded" src="../assets/img/prv/team-3-800x800.jpg">
                                            <div class="card-img-overlay d-flex align-items-end">
                                                <div class="col text-center">
                                                    <h4 class="heading h4 text-uppercase text-white" style="font-family: 'Oswald', sans-serif;">Oliver Heldens</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card border-0">
                                        <div class="text-white">
                                            <img alt="Image placeholder" class="img-fluid rounded" src="../assets/img/prv/team-4-800x800.jpg">
                                            <div class="card-img-overlay d-flex align-items-end">
                                                <div class="col text-center">
                                                    <h4 class="heading h4 text-uppercase text-white" style="font-family: 'Oswald', sans-serif;">Steve Aoki</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card border-0">
                                        <div class="text-white">
                                            <img alt="Image placeholder" class="img-fluid rounded" src="../assets/img/prv/team-5-800x800.jpg">
                                            <div class="card-img-overlay d-flex align-items-end">
                                                <div class="col text-center">
                                                    <h4 class="heading h4 text-uppercase text-white" style="font-family: 'Oswald', sans-serif;">Bonobo</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="slice slice-lg pt-200">
            <div class="container">
                <div class="mb-md text-center">
                    <h3 class="heading h2">We help businesses grow</h3>
                    <div class="fluid-paragraph mt-3">
                        <p class="lead">Start building fast, beautiful and modern looking websites in no time using our theme.</p>
                    </div>
                </div>
                <div class="row row-grid">
                    <div class="col-lg-4">
                        <div class="px-4 text-center">
                            <div class="mb-4">
                                <div class="icon icon-lg icon-shape box-shadow-3 rounded-circle bg-primary text-white">
                                    <i class="fas fa-paint-brush"></i>
                                </div>
                            </div>
                            <h5 class="heading h5 mb-3">20+ Landing pages</h5>
                            <p>With Purpose you get components and examples, including tons of variables that will help you customize this theme with ease.</p>
                            <a href="#" class="btn btn-sm btn-outline-primary btn-circle mt-3">Learn more</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="px-4 text-center">
                            <div class="mb-4">
                                <div class="icon icon-lg icon-shape box-shadow-3 rounded-circle bg-primary text-white">
                                    <i class="fas fa-code"></i>
                                </div>
                            </div>
                            <h5 class="heading h5 mb-3">Really useful features</h5>
                            <p>With Purpose you get components and examples, including tons of variables that will help you customize this theme with ease.</p>
                            <a href="#" class="btn btn-sm btn-outline-primary btn-circle mt-3">Learn more</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="px-4 text-center">
                            <div class="mb-4">
                                <div class="icon icon-lg icon-shape box-shadow-3 rounded-circle bg-primary text-white">
                                    <i class="fas fa-tint"></i>
                                </div>
                            </div>
                            <h5 class="heading h5 mb-3">Highly customizable</h5>
                            <p>With Purpose you get components and examples, including tons of variables that will help you customize this theme with ease.</p>
                            <a href="#" class="btn btn-sm btn-outline-primary btn-circle mt-3">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="slice slice-lg bg-secondary" style="padding-bottom: 200px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="mb-md text-center">
                            <h6 class="text-primary">Our company</h6>
                            <h3 class="h1 font-weight-400 lh-150 my-4">Don't settle for ordinary. Dare to live a magical life.</h3>
                            <p class="lead">Start building fast, beautiful and modern looking websites in no time using our theme.</p>
                        </div>
                    </div>
                </div>
                <div class="row row-grid">
                    <div class="col-lg-4">
                        <div class="card shadow">
                            <div class="card-body py-5 px-lg-5">
                                <div>
                                    <div class="icon text-primary mb-3">
                                        <img alt="Image placeholder" src="../assets/img/icons/dusk/png/desktop-download.png" class="img-fluid">
                                    </div>
                                    <h5 class="heading h5">Download Purpose</h5>
                                    <p>Some quick example text to build on the card title and make up the content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow">
                            <div class="card-body py-5 px-lg-5">
                                <div>
                                    <div class="icon text-primary mb-3">
                                        <img alt="Image placeholder" src="../assets/img/icons/dusk/png/paint-palette.png" class="img-fluid">
                                    </div>
                                    <h5 class="heading h5">Change appearance</h5>
                                    <p>Some quick example text to build on the card title and make up the content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow">
                            <div class="card-body py-5 px-lg-5">
                                <div>
                                    <div class="icon text-primary mb-3">
                                        <img alt="Image placeholder" src="../assets/img/icons/dusk/png/add-property.png" class="img-fluid">
                                    </div>
                                    <h5 class="heading h5">Build your website</h5>
                                    <p>Some quick example text to build on the card title and make up the content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-container" data-shape-style="curve" data-shape-position="bottom">
                <svg class="shape-fill-white" fill="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                    <path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z"></path>
                </svg>
            </div>
        </section>

        <section class="slice slice-lg pt-0 delimiter-bottom">
            <div class="container">
                <div class="mb-md text-center">
                    <h3 class="heading h3">Our creative process</h3>
                    <div class="fluid-paragraph fluid-paragraph-sm text-center mt-4">
                        <p class="lead lh-180">You get all Bootstrap components fully customized. Besides, you receive another 5 plugins out of the box and ready to use.</p>
                    </div>
                </div>

                <div class="row row-grid align-items-center justify-content-around">
                    <div class="col-lg-5 order-lg-2">
                        <div class="pr-md-4">
                            <span class="badge badge-lg badge-primary opacity-8 text-uppercase ls-1 font-weight-600 mb-3">Generating ideas</span>
                            <h3 class="heading h3">Change the way you build wesites. Forever.</h3>
                            <p class="lead my-4">With Purpose you get components and examples, including tons of variables that will help you customize this theme with ease.</p>
                            <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" target="_blank" class="btn btn-primary btn-circle btn-icon mt-4">
                                <span class="btn-inner--icon"><i class="fas fa-cart-plus"></i></span>
                                <span class="btn-inner--text">Purchase now</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="position-relative" style="z-index: 10;">
                            <img alt="Image placeholder" src="../assets/img/prv/app-3.png" class="img-center img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="slice">
            <div class="container">
                <div class="row justify-content-center mb-md">
                    <div class="col-lg-8">
                        <div class="media">
                            <img alt="Image placeholder" class="rounded-circle mr-4" src="../assets/img/prv/team-1-800x800.jpg" style="width: 80px;">
                            <div class="media-body">
                                <p class="lead">"Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio vestibulum in vulputate at tempus viverra."</p>
                                <span class="text-muted mt-4">John Doe — Web Designer at Webpixels</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blurable--hover">
                    <a href="#">
                        <div class="row blurable-item">
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                                <div class="px-4 py-4">
                                    <img alt="Image placeholder" src="../assets/img/prv/partners/brand-1.png" class="img-fluid img-grayscale">
                                </div>

                            </div>
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                                <div class="px-4 py-4">
                                    <img alt="Image placeholder" src="../assets/img/prv/partners/brand-2.png" class="img-fluid img-grayscale">
                                </div>

                            </div>
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                                <div class="px-4 py-4">
                                    <img alt="Image placeholder" src="../assets/img/prv/partners/brand-3.png" class="img-fluid img-grayscale">
                                </div>

                            </div>
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                                <div class="px-4 py-4">
                                    <img alt="Image placeholder" src="../assets/img/prv/partners/brand-4.png" class="img-fluid img-grayscale">
                                </div>

                            </div>
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                                <div class="px-4 py-4">
                                    <img alt="Image placeholder" src="../assets/img/prv/partners/brand-5.png" class="img-fluid img-grayscale">
                                </div>

                            </div>
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">

                                <div class="px-4 py-4">
                                    <img alt="Image placeholder" src="../assets/img/prv/partners/brand-6.png" class="img-fluid img-grayscale">
                                </div>

                            </div>
                        </div>
                        <span class="blurable-hidden btn btn-sm btn-info btn-circle">See all customers</span>
                    </a>
                </div>

            </div>
        </section>

        <section class="slice slice-lg delimiter-top">
            <div class="container">
                <div class="mb-md text-center">
                    <h3 class="heading h2">Helpful answers</h3>
                    <div class="fluid-paragraph mt-3">
                        <p class="lead">Start building fast, beautiful and modern looking websites in no time using our theme.</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div id="accordion_1" data-accordion="1">
                            <div class="card mb-3">
                                <div class="card-header bg-secondary py-4 collapsed" id="heading_1_1" data-toggle="collapse" data-target="#collapse_1_1" aria-expanded="false" aria-controls="collapse_1_1">
                                    <h5 class="heading h5 font-weight-normal mb-0"><i class="fas fa-file-pdf mr-3"></i>Which license do I need?</h5>
                                </div>

                                <div id="collapse_1_1" class="collapse" aria-labelledby="heading_1_1" data-parent="#accordion_1">
                                    <div class="card-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                            3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-header bg-secondary py-4 collapsed" id="heading_1_2" data-toggle="collapse" data-target="#collapse_1_2" aria-expanded="false" aria-controls="collapse_1_2">
                                    <h5 class="heading h5 font-weight-normal mb-0"><i class="fab fa-safari mr-3"></i>How do I get access to a theme I purchased?</h5>
                                </div>

                                <div id="collapse_1_2" class="collapse" aria-labelledby="heading_1_2" data-parent="#accordion_1">
                                    <div class="card-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                            3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-header bg-secondary py-4 collapsed" id="heading_1_3" data-toggle="collapse" data-target="#collapse_1_3" aria-expanded="false" aria-controls="collapse_1_3">
                                    <h5 class="heading h5 font-weight-normal mb-0"><i class="fas fa-credit-card mr-3"></i>How do I attach previous orders to my account</h5>
                                </div>

                                <div id="collapse_1_3" class="collapse" aria-labelledby="heading_1_3" data-parent="#accordion_1">
                                    <div class="card-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                            3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Call to action -->

        <section class="slice slice-lg bg-danger">

            <span class="tongue tongue-top"><i class="fas fa-angle-up"></i></span>

            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-8 text-center">
                        <h3 class="font-weight-400 text-white">I am ready to start a new project with <span class="font-weight-700">Purpose</span> UI Kit.</h3>
                        <div class="mt-5">
                            <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" target="_blank" class="btn btn-primary btn-circle btn-translate--hover px-4">Purchase now<span class="badge badge-pill badge-danger text-sm">$49 USD</span></a>
                            <a href="mailto:support@webpixels.io" class="btn btn-link text-white">Have an issue?</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>