<header class="header-transparent" id="header-main">
    <nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-transparent navbar-light bg-white" id="navbar-main">
        <div class="container">
            <a class="navbar-brand mr-lg-5" href="/">
                <%= image_tag "logo.png", alt: "logo", class: "btn-translate--hover", id: "logo-nav", style: "height: 70px;" %>
                <%= image_tag "logo-row.png", alt: "logo-row", class: "btn-translate--hover", id: "logo-nav-row", style: "width: 70px" %>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-main-collapse">
                <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../docs/introduction.html" target="_blank">Références</a>
                    </li>
                    <li class="nav-item pr-3">
                        <a class="nav-link" href="#" target="_blank">Tarifs</a>
                    </li>
                    <li class="nav-item mr-0" id="btn-contact">
                        <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" target="_blank" class="btn btn-sm btn-outline-white btn-circle btn-icon d-none d-lg-inline-flex" >
                            <span class="btn-inner--icon"><i class="fas fa-user"></i></span>
                            <span class="btn-inner--text">Contact</span>
                        </a>
                    </li>
                    <li class="nav-item mr-0" id="btn-contact-slim">
                        <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" target="_blank" class="btn btn-sm btn-warning-outline btn-circle btn-icon d-none d-lg-inline-flex" >
                            <span class="btn-inner--icon"><i class="fas fa-user"></i></span>
                            <span class="btn-inner--text">Contact</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>